@font-face {
  font-family: "Quicksand";
  src:
    url("fonts/Quicksand-Light.woff2") format("woff2"),
    url("fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sinkin Sans 600";
  src:
    url("fonts/SinkinSans-600SemiBold.woff2") format("woff2"),
    url("fonts/SinkinSans-600SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Sinkin Sans 600";
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-family: "Quicksand";
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}
