body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: orange;
}

a:visited {
  color: green;
}

.container p:first-child {
  font-size: 150%;
}

.container p:first-child::first-line {
  color: red;
}

tbody tr:nth-child(even) {
  background-color: #333333;
  color: white;
}
